---
layout: 99percentvegan
title: Hey, instagram fam, welcome to 99percentvegan.
category: 99percentvegan
---

<header>
  <p>
    Hey, welcome to the 99percentvegan homepage, it's currently hosted on my personal website <a href='http://shawe.co/99percentvegan'>shawe.co</a>!
  </p>

</header>



<article class="content veganArticle">
    <div class="blog-posts veganPosts">
      <ul class="posts">
        {% for post in site.categories['99percentvegan'] limit:1 %}
        <li>
         <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="vegangallery">

      {% include image-gallery.html folder="/99percentvegan/images" %}

      </div>

  </article>




</article>
