.shaweBranding {
  position: inherit;
  padding-top: 0.5em;
  width: 100%;
  text-align: center;
  display: block;
  height: 100px;
  background: #00000082;
  font-size: 2em;
  padding-bottom: 0.5em;
}

.shaweBranding h1 {
  line-height: 1em;
  padding: 0;
  margin: 0;
}

.shaweBranding h2 {
  display: none;
}

.shaweBranding h3 {
  line-height: 1em;
  padding: 0;
  margin: 0;
  font-size: 0.5em;
}
