.shaweBranding {
  position: relative;
  padding-top: 0.5em;
  width: 100%;
  text-align: center;
  display: block;
  height: auto;
  background: #00000082;
  font-size: 2em;
  padding-bottom: 0.5em;
}

.shaweBranding h1 {
  line-height: 1em;
  padding: 0;
  margin: 0;
}

.shaweBranding h2 {
  display: none;
}

.shaweBranding h3 {
  line-height: 1em;
  padding: 0;
  margin: 0;
  font-size: 0.5em;
}

header .intro {
  height: auto;
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  position: relative;
  right: 0;
  display: block;
  margin-top: 0.5em;
  background-position-y: -330px;
  background: linear-gradient(rgba(0, 0, 0, 0.94), rgba(0, 0, 0, 0.88)),
    url(../images/david-shawe-eye-of-horus.jpg);
  background-size: 15.111%;
}

header p {
  color: #ffffff;
  font-size: 80px;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  line-height: 1em;
  padding: 1em;
  opacity: 1;
}
