h2#latestThoughts {
  text-align: center;
  background: #16161b;
  padding: 0.2em 0.2em 0.2em 0.2em;
  border-top: 25px solid #ffe9e9;
}

.blog-posts {
  padding: 0em;
  max-width: 1800px;
  margin: 0 auto;
  display: block;
  position: relative;
  background: #02021b;
  box-shadow: -8px 162px 52px #330b73ba;
  padding-bottom: 200px;
}

.posts li a {
  text-decoration: none;
  border-radius: 0px;
  background-color: rgb(255, 255, 255);
  color: #000;
  display: block;
  line-height: 1em;
  padding: 0;
  text-align: center;
  width: 97%;
}

.posts li a:hover {
  color: #fff;
  background-color: #1f1f1f;
  width: 97%;
}
