<section>
  <ul class="workList">
    {% if page.category == 'ib' %}
    <li style="display: none;" class="ib">
      <a href="/work/invisible-building.html">Have a read below</a>
    </li>
    {% else %}
    <li class="ib">
      <a href="/work/invisible-building.html">Invisible Building</a>
    </li>
    {% endif %} {% if page.category == 'crc' %}
    <li style="display: none;" class="crc">
      <a href="/work/crc.html">Chain Reaction Cycles</a>
    </li>
    {% else %}
    <li class="crc">
      <a href="/work/crc.html">Chain Reaction Cycles</a>
    </li>
    {% endif %} {% if page.category == 'maloneCollege' %}
    <li style="display: none;" class="malone">
      <a href="/work/malone-college.html">Malone Intergrated College</a>
    </li>
    {% else %}
    <li class="malone">
      <a href="/work/malone-college.html">Malone Intergrated College</a>
    </li>
    {% endif %} {% if page.category == 'techies' %}
    <li style="display: none;" class="techies">
      <a href="/work/techies-in-residence.html">Techies In Residence</a>
    </li>
    {% else %}
    <li class="techies">
      <a href="/work/techies-in-residence.html">Techies In Residence</a>
    </li>
    {% endif %} {% if page.category == 'theFoundry' %}
    <li style="display: none;" class="theFoundry">
      <a href="/work/the-foundry-belfast.html">The Foundry Belfast</a>
    </li>
    {% else %}
    <li class="theFoundry">
      <a href="/work/the-foundry-belfast.html">The Foundry Belfast</a>
    </li>
    {% endif %} {% if page.category == 'lsd' %}
    <li style="display: none;" class="lsd">
      <a href="/work/leslie-stannage-design.html">Leslie Stannage Design</a>
    </li>
    {% else %}
    <li class="lsd">
      <a href="/work/leslie-stannage-design.html">Leslie Stannage Design</a>
    </li>
    {% endif %} {% if page.category == 'uwp' %}
    <li style="display: none;" class="uwp">
      <a href="/work/underwaterpistol.html">Underwater Pistol</a>
    </li>
    {% else %}
    <li class="uwp">
      <a href="/work/underwaterpistol.html">Underwaterpistol</a>
    </li>
    {% endif %}
  </ul>
</section>
