<section class="split david">

<div class="about">
<header>
<h1 class="title">{{ site.name }}</h1>
</header>
<article class="content"> 
<h2>About Me</h2>
<p>I'm a 26 year old designer that loves the web. I was born in 1989, that means I have grown up living with the internet. Since graduating in 2011 I've been working within the "Web Industry", constanly learning and improving my game.</p>

<h2>Work</h2>
<p>I run my own business and trade as <a href="http://invisiblebuilding.com">Invisible Building</a>, we sell web to local business and creatives.</p>

<h2>Contact</h2>
<p>Send mail to <a href="mailto:david@invisiblebuilding.com">david@invisiblebuilding.com</a>
</article>



</div>
</section>
