<!--  Essential META Tags -->

<meta property="og:title" content="The David Shawe Podcast">
<meta property="og:description" content="David Jackson Shawe is a designer from Northern Ireland.">
<meta property="og:image" content="http://theshawe.com/images/david-jackson-shawe-podcast-episode-01.png">
<meta property="og:url" content="http://shawe.co/podcast">
<meta name="twitter:card" content="summary">


<!--  Non-Essential, But Recommended -->

<meta property="og:site_name" content="shawe.co, David Shawe">
<meta name="twitter:image:alt" content="The David Shawe Podcast"">
