<style>


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 568px) {
.split { width: 100%; }

.about {     
  float: left;
  width: 100%;
  padding: 0;
  margin-top: 170px;
  font-size: 1.5em;
  margin-left: -20px; 
}

.theshawe { position: absolute; }
.david { margin-top: 118px; }

.david h1 {
    font-size: 36px;
line-height: 1.1em;
padding: 0 44px;
max-width: 80%;}

.david h2 { font-size: 22px; }
.david p  { margin-top: 1em; margin-bottom: 2em; font-size: .758em; line-height: 1em;}
.content  { padding: 1em; padding-top: 0; }
.content a { font-size: 1em; }
.blog-posts p  { margin-top: 1em; margin-bottom: 2em; font-size: .758em; line-height: 1em;}
nav ul li a  { padding-left: .5em; }
nav
{ 
    top: auto;
    position: absolute;
    bottom: 0px;
    background-color: #000;
    z-index: 1000;
    width: 100%;
}
}


</style>
