<header class="shaweBranding">
  <h1>
    <a class="theshawe-brand" href="{{ site.baseurl }}/index.html"
      >David Jackson Shawe
    </a>
  </h1>
  <h2 style="display:none;">
    Welcome to my website, currently my main domain is
    <a href="http://shawe.co">shawe.co</a>
  </h2>
  <h3>yolo, karma, breathe.</h3>

  {% if page.category == 'home' %}
  <div class="intro">
    {% elsif page.category == 'work' %}
    <div class="work">
        {% elsif  page.category ==  'ib' %}
        <div class="ib">
            {% elsif page.category == 'crc' %}
            <div class="crc">
                {% elsif page.category == 'malonecollege' %}
                <div class="mic">
                    {% elsif page.category == 'techies' %}
                    <div class="techies">
                      {% elsif page.category == 'theFoundry' %}
                      <div class="theFoundry">
                        {% elsif page.category == 'lsd' %}
                        <div class="lsd">
                            {% elsif page.category == 'uwp' %}
                            <div class="uwp">
      {% else %}
      <div class="intro">
        {% endif %} {% if page.category == 'home' %}
        <p>
          Craic fam. I'm David &amp; I'm a Designer from Belfast, Northern
          Ireland.
        </p>
        {% elsif page.category == 'work' %}

        <h2>{{ page.title }}</h2>

        {% elsif page.category == 'blog' %}
        <h2>{{ page.title }}</h2>
        {% elsif page.category == 'podcast' %}
        <p>
          Podcast
        </p>
        {% elsif page.category == 'contact' %}
        <p>
          Contact
        </p>
        {% else %}
        <p>
        {{ page.title }}
        </p>
        {% endif %} {% if page.category == 'home' %}
      </div>
      {% elsif page.category == 'work' %}
    </div>
    {% else %}
  </div>
  {% endif %}
</header>
