<header class="shaweBranding">
  <h1>
    <a class="theshawe-brand" href="{{ site.baseurl }}/index.html"
      >David Jackson Shawe
    </a>
  </h1>
  <h2 style="display:none;">
    Welcome to my website, currently my main domain is
    <a href="http://shawe.co">shawe.co</a>
  </h2>
  <h3>yolo, karma, breathe.</h3>



  {% if page.category == 'home' %}
  <div class="pageTitle intro">
    {% elsif page.category == 'work' %}
    <div class="pageTitle work">
        {% elsif  page.category ==  'ib' %}
        <div class="pageTitle ib">
            {% elsif page.category == 'crc' %}
            <div class="pageTitle crc">
                {% elsif page.category == 'maloneCollege' %}
                <div class="pageTitle maloneCollege">
                    {% elsif page.category == 'techies' %}
                    <div class="pageTitle techies">
                      {% elsif page.category == 'theFoundry' %}
                      <div class="pageTitle theFoundryBelfast">
                        {% elsif page.category == 'lsd' %}
                        <div class="pageTitle lsd">
                            {% elsif page.category == 'uwp' %}
                            <div class="pageTitle uwp">
                                {% elsif page.category == 'blog' %}
                                <div class="pageTitle blog">
      {% else %}
      <div class="intro">
        {% endif %} {% if page.category == 'home' %}
        <p>
          Craic fam. I'm David &amp; I'm a Designer from Belfast, Northern
          Ireland.
        </p>
        {% elsif page.category == 'work' %}

        <h2>Work</h2>

        {% elsif page.category == 'blog' %}
        <h2>{{ page.title }}</h2>
        {% elsif page.category == 'podcast' %}
        <p>
          Podcast
        </p>
        {% elsif page.category == 'contact' %}
        <p>
          Contact
        </p>
        {% else %}
        <p>
        {{ page.title }}
        </p>
        {% endif %} {% if page.category == 'home' %}
      </div>
      {% elsif page.category == 'work' %}
    </div>
    {% else %}
  </div>
  {% endif %}

</header>

<div class="blogFeature">

  <a href="#latestThoughts">VLOGS / P0STS / THOUGHTS 👇🏿</a>

</div>





    {% include image-gallery.html folder="/uploads/album" %}
    <a class="igLink" href="https://www.instagram.com/theshawe/">instagram</a>
