<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width">
{% include meta.html %}
<title>{{ page.title }}</title>
<!-- removed  -->
<!-- removed  -->
<!-- Custom CSS -->

<link rel="stylesheet" href="/css/main.css">

<!-- endbuild -->    <!-- endbuild -->
<!-- build:js(app) /js/head-scripts.js -->

{% include tracking.html %}
</head>
</head>
<body>
{% include header/header.html %}
{{ content }}
{% include work/workList.html %}
{% include footer/footer.html %}
</body>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-127024031-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-127024031-1');
</script>


<script src="//use.typekit.net/ksh3nef.js"></script>
<script>try{Typekit.load();}catch(e){}</script>


    <!-- build:js(app) /src/js/scripts.js -->
    <script src="/dist/js/build.min.js"></script>
    <!-- endbuild -->
    </body>
</html>
